<div class="nav-container">
  <div class="nav-buttons">
    <button 
      class="nav-button inventory-btn" 
      [class.active]="currentPage === 'inventory'"
      (click)="navigateToInventory()">
      Inventory
    </button>
    <button 
      class="nav-button catalog-btn" 
      [class.active]="currentPage === 'catalog'"
      (click)="navigateToItemCatalog()">
      Item Catalog
    </button>
    <button 
      class="nav-button stats-btn" 
      [class.active]="currentPage === 'stats'"
      (click)="navigateToCharacterStats()">
      Character Stats
    </button>
    <button
      class="nav-button select-char-btn"
      (click)="navigateToSelectChar()"
    >Character Selection

    </button>
    <button 
      class="nav-button logout-btn" 
      (click)="navigateToSignOut()"
      >
      Sign Out
    </button>
  </div>
</div>